*{
    margin: 0;
    padding: 0;
}

/* fontfamilies:
font-family: 'BIZ UDGothic', sans-serif;
font-family: 'Barlow', sans-serif;

/* header */

.top-header{
    background-color: #2B8255;
    width: 100%;
}

.cabecera_Items{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-rows: 150px 50px;
    border: solid 1px;
    grid-gap: 30px;
    padding: 50px 72px;
}
.top_header__Cabecera{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* padding: top - right - bottom - left */

.barraNavegacion{
    
    /* padding: top - right - bottom - left */

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraNavegacion__Lista li{
    display: inline-block;
    margin: 15px;
    border-radius: 7%;
    border: solid 1px;
    padding: 5px;
    background-color: white;
    list-style: none;
    text-decoration: none;
}

.barraNavegacion__anchor{
    
    text-decoration: underline;
    list-style: none;
    text-shadow: 2px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2B8255
}

.logoempresarial__Imagen{
    float: left;
}

.iso9001__Imagen{
    float: right;
    margin: 10px;
}

.iso14001__Imagen{
    float: right;
    margin: 10px;
}

.Refran_Eco{
    padding: 10px 20px 0px 20px;
    text-align: center;
    font-family: 'BIZ UDGothic', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #9c4b25
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .top-header{
        background-color: #2B8255;
        width: 210%;
    }

    .cabecera_Items{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        border: solid 1px;
        grid-gap: 0px;
        padding: 10px 10px 10px 10px;
    }

    .top_header__Cabecera{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 120px 120px;
        align-items: stretch;   
    }
    .logoempresarial__Imagen{
        grid-column: 1/3;
        align-items: center;
        justify-items: center;
    }
    .iso9001__Imagen{
        grid-area: 2/1/3/2;
    }
    .iso14001__Imagen{
        grid-area: 3/1/4/2;
    }

    .Refran_Eco{
        grid-template-columns: 2/3;
        grid-template-rows: 1/4;
    }

    .barraNavegacion{
        display: flex;
        justify-content: flex-start;
    }

    .barraNavegacion__Lista{
        display: flex;
        flex-direction: column;


    }

    .barraNavegacion__Lista li{
        display: block;
        margin: 5px;
        border-radius: 7%;
        border: solid 1px;
        padding: 15px;
        background-color: white;
        list-style: none;
        text-decoration: none;
    }
    .barraNavegacion__anchor{
    
        text-decoration: underline;
        list-style: none;
        text-shadow: 2px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: black
    }
}

/* Main */

.top_Main{
    background-color: #2b82557e;
    width: 100%;
}
.top_Main__Cuerpo{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-rows: 500px 900px 1050px;
    grid-gap: 0px;
    padding: 0px 5px;
    justify-content: space-around;
}

h2{
    font-size: 16px;
    color: #5A2DED;
    font-family: 'Barlow', sans-serif;
}
h3{
    color: #1E93D6;
    padding: 10px 0px 0px 0px;
}

.galeria{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: scroll;
    height: 70vh;
    width: 80vw;
    margin: auto;
}

.galeria__imagen{
    height: 400px;
    width: 600px;
}
.cardsFotos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .top_Main{
        width: 210%;
    }
    
    .top_Main__Cuerpo{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 14% 44% 42%;
        grid-gap: 0px;
        padding: 0px 0px 40px 0px;
        justify-content: flex-end;
    }
    .galeria{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        overflow-x: scroll;
        height: 500px;
        width: 750px;
        margin-top: 0px;
        padding: 0px 5px;
    }

}

/* MAIN-PRODUCTOS */

.prod_Cabacera{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.prod_Cabecera__Parrafo{
    grid-column: 1/3;
}
.prod_Main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 50px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.prod_Galeria{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: scroll;
    height: 30vh;
    width: 32vw;
    margin: auto;
}
.prod_Galeria__Imagen{
height: 180px;
width: 300px;
}
.prod_Gal__Nombre01{
    grid-row: 2/3;
}
.prod_Gal__Nombre02{
    grid-row: 2/3;
    grid-column: 2/3;
}
.prod_Gal__Nombre03{
    grid-column: 3/4;
    grid-row: 2/3;
}

.viv_Indus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 200px 100px;
    align-items: center;
    gap: 10px;
}

.viv_Indus__art01{
    grid-column: 1/4;
    grid-row: 1/2;
    margin-left: 20px;
}
.viv_Indus__art02{
    grid-column: 1/4;
    grid-row: 4/5;
    margin-left: 20px;
}
.viv_Indus__art03{
    grid-column: 1/2;
    grid-row: 2/4;
    margin-left: 40px;
}
.viv_Indus__Imagen01{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.viv_Indus__Imagen02{
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
}
.viv_Indus__Imagen03{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
}
.viv_Indus__Imagen04{
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 3/4;
}

.hab_Mov{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 50px;
}

.hab_Mov__Parrafo{
    grid-area: 1/1/2/4;
}

.hab_Mov__Nombre01{
    grid-area: 3/1/4/2;
}
.hab_Mov__Nombre02{
    grid-area: 3/2/4/3;
}
.hab_Mov__Nombre03{
    grid-area: 3/3/4/4;
}
.obr_Civ__Nombre01{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .top_Main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prod_Cabacera{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0px 85px 0px 15px;
        justify-items: center;
        align-items: center;
    }
    .prod_Main{
        display: flex;
        flex-direction: column;
    }
}

/* MAIN-PRODUCTOS */

.main_Ventajas{
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 10px;
}

.main_Ventajas__Articulo{
    padding: 30px;
    border: solid 1px rgb(98, 185, 98);
    background-color: rgba(230, 182, 236, 0.637);
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.main_Novedades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 450px 450px;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.main_Novedades__Titulo{
    font-size: 24px;
    grid-column: 1/4;
}

.main_Nov__articulo{
    justify-items: center;
    align-items: stretch;
}
.noticia01{
    height: 300px;
    width: 450px;
}

/* Media queries */

@media only screen and (max-width: 768px) {

    .main_Novedades{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .main_Ventajas{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 0px;
        padding: 0px 5px;
    }
}

/* footer */

.top_Footer{
    background-color: #2B8255;
    width: 100%;
}

.pie_items{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 150px;
    padding: 50px 70px;
}
.logos_Footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_Footer01{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_Footer02{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Redes__Sociales{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Redes__Sociales h4{
    font-size: 24px;
}

.logos_Footer img{
    width: 75px;
}

@media only screen and (max-width: 768px) {
    .top_Footer{
        background-color: #2B8255;
        width: 200%;
    }
    
    .pie_items{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 0px 0px 0px 0px
    }
}
