*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    width: 100%;
}

/* fontfamilies:
font-family: 'BIZ UDGothic', sans-serif;
font-family: 'Barlow', sans-serif;

/* header */

.top-header{
    background-color: #2B8255;
}
.row_Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collapse{
    justify-content: center;
}
.navbar-nav{
    display: flex;
    justify-content: center;
}
.nav-item{
    color: white;
}
.nav-link{
    font-size: 24px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #66b98e;
}

/* Header Media queries */

@media only screen and (max-width: 768px) {
    

    .logoempresarial__Imagen{
        grid-column: 1/3;
        align-items: center;
        justify-items: center;
    }
    .iso9001__Imagen{
        grid-area: 2/1/3/2;
    }
    .iso14001__Imagen{
        grid-area: 3/1/4/2;
    }
}

/* MAIN */

.top_Main{
    background-color: #2b82557e;
}

h2{
    font-size: 24px;
    color: #5A2DED;
    font-family: 'Barlow', sans-serif;
}
h3{
    color: #1E93D6;
    padding: 10px 0px 0px 0px;
}
.card-group{
    border: solid 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fas{
    margin-top: 15px;
}
.card{
    display: flex;
    align-items: center;
}
.card img{
    height: 250px;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    /* .top_Main{
        width: fit-content;
    } */
    
    /* .top_Main__Cuerpo{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 14% 44% 42%;
        grid-gap: 0px;
        padding: 0px 0px 40px 0px;
        justify-content: flex-end;
    } */


}

/* MAIN-PRODUCTOS */

.prod_Main{
    display: flex;
    justify-content: space-between;
}
.viv_Indust{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.card-text_OCiv{
    text-align: center;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .top_Main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prod_Cabacera{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0px 85px 0px 15px;
        justify-items: center;
        align-items: center;
    }
    .prod_Main{
        display: flex;
        flex-direction: column;
    }
    .prod_Galeria__Imagen{
        height: 200px;
        width: 700px;
    }
    .prod_Galeria{
        display: flex;
        align-items: flex-start;
        height: 220px;
        width: 400px;
        margin: 0px 60px 0px 0px;
    }
    .prod_Gal__Nombre01{
        margin: 0px 60px 0px 0px;
    }
    .prod_Gal__Nombre02{
        margin: 0px 60px 0px 0px;
    }
    .prod_Gal__Nombre03{
        margin: 0px 60px 0px 0px;
    }
    h3{
        margin: 0px 60px 0px 0px;
    }
    .viv_Indus{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .viv_Indus__Imagen01{
        height: 100%;
        width: 90%;
    }
    .viv_Indus__Imagen02{
        height: 100%;
        width: 90%;
    }
    .viv_Indus__Imagen03{
        height: 100%;
        width: 90%;
    }
    .viv_Indus__Imagen04{
        height: 100%;
        width: 90%;
    }
    .hab_Mov{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .hab_Mov__Parrafo{
        display: flex;
        padding-left: 15px;
        padding-right: 90px;
        padding-bottom: 40px;
    }
    .hab_Mov .prod_Galeria{
        margin: 10px 70px 10px 0px;
    }
    .hab_Mov__Nombre01{
        margin: 10px 70px 10px 0px;
    }
    .hab_Mov__Nombre02{
        margin: 10px 70px 10px 0px;
    }
    .hab_Mov__Nombre03{
        margin: 10px 70px 10px 0px;
    }
    .obr_Civ__Nombre01{
        margin: 10px 70px 30px 0px;
    }
    .viv_Indus__art01{
        margin-right: 100px;
    }
    .viv_Indus__art02{
        margin-right: 100px;
    }
}

/* MAIN-PRODUCTOS */

.main_Ventajas{
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 10px;
}

.main_Ventajas__Articulo{
    padding: 30px;
    border: solid 1px rgb(98, 185, 98);
    background-color: rgba(230, 182, 236, 0.637);
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.main_Novedades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 450px 450px;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.main_Novedades__Titulo{
    font-size: 24px;
    grid-column: 1/4;
}

.main_Nov__articulo{
    justify-items: center;
    align-items: stretch;
}
.noticia01{
    height: 300px;
    width: 450px;
}

/* Media queries */

@media only screen and (max-width: 768px) {

    .main_Novedades{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .main_Ventajas{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 0px;
        padding: 0px 5px;
    }
}

/* footer */

.top_Footer{
    background-color: #2B8255;
}
.logfot{
    height: 70px;
}
.row_Foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col_Foot{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .top_Footer{
        background-color: #2B8255;
        width: 200%;
    }
    
    .pie_items{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 0px 0px 0px 0px
    }
}
