* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}


/* fontfamilies:
font-family: 'BIZ UDGothic', sans-serif;
font-family: 'Barlow', sans-serif;

/* header */

.top-header{
    background-color: #2B8255;
}
.row_Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collapse{
    justify-content: center;
}
.navbar-nav{
    display: flex;
    justify-content: center;
}
.nav-item{
    color: white;
}
.navbar-brand{
    font-size: 24px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #66b98e;
}
.nav-link{
    font-size: 24px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #66b98e;
}
.nav-link:hover{
    cursor: pointer;
    border: solid 3px #b13813;
    text-shadow: 0 0 10px #b13813;
}

/* MAIN */

.top_Main{
    background-color: #2b82557e;
}

h2{
    font-size: 24px;
    color: #5A2DED;
    font-family: 'Barlow', sans-serif;
}
h3{
    color: #1E93D6;
    padding: 10px 0px 0px 0px;
}
.card-group{
    border: solid 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fas{
    margin-top: 15px;
}
.card{
    display: flex;
    align-items: center;
}
.card img{
    height: 250px;
}

.main_Ventajas{
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 10px;
}

.main_Ventajas__Articulo{
    padding: 30px;
    border: solid 1px rgb(98, 185, 98);
    background-color: rgba(230, 182, 236, 0.637);
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

/* footer */

.top_Footer{
    background-color: #2B8255;
}
.logfot{
    height: 70px;
}
.row_Foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media only screen and (max-width: 768px) {
    .row_Top{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .top-header{
        display: flex;
        flex-direction: row;
    }

    .row_Foot{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .row_Top{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .top-header{
        display: flex;
        flex-direction: row;
    }
    .row_Foot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
