
.top_Main{
  background-color: #2b82557e;
}

.container {  display: grid;
    grid-template-columns: 0.1fr 1.9fr 1.9fr 0.1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". bloque_Empresa img_Empresa ."
      ". bloque_Evolucion img_Evolucion .";
      max-width: 100vw;
  }
  
  .bloque_Empresa {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo_Empresa titulo_Empresa titulo_Empresa"
      "parrafo_Empresa parrafo_Empresa parrafo_Empresa";
    grid-area: bloque_Empresa;
    padding-top: 10px;
  }
  
  .titulo_Empresa { 
    grid-area: titulo_Empresa;
    @include flexbox(column, flex-start, center); 
  }
  
  .parrafo_Empresa { 
    grid-area: parrafo_Empresa;
    @include flexbox(column, flex-start, center);
  }
  
  .bloque_Evolucion {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo_Evolucion titulo_Evolucion titulo_Evolucion"
      "parrafo_Evolucion parrafo_Evolucion parrafo_Evolucion";
    grid-area: bloque_Evolucion;
  }
  
  .titulo_Evolucion { 
    grid-area: titulo_Evolucion;
    @include flexbox(column, flex-start, center);  
  }
  
  .parrafo_Evolucion { 
    grid-area: parrafo_Evolucion; 
    @include flexbox(column, flex-start, center);
  }
  
  .img_Empresa {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    grid-area: img_Empresa;
    align-items: center;
  }
  
  .img_Evolucion {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    grid-area: img_Evolucion;
    align-items: center;
  }

  .img_Empresa img{
    height: 200px;
    width: 300px;
  }
  .img_Evolucion img{
    height: 200px;
    width: 300px;
  }
  
h2{
  font-size: map-get($tamanio-tipografia, titulos);
  color: map-get($font-colors, color-titulos);
}
p{
  font-size: map-get($tamanio-tipografia, parrafos);
}
@include mediaquery(mobile){
  .top_Main{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .top_Footer{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .row_Top{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img_Empresa{
    display: flex;
    flex-direction: column;
  }
  .img_Evolucion{
    display: flex;
    flex-direction: column;
  }
  .row_Foot{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". bloque_Empresa img_Empresa ."
        ". bloque_Evolucion img_Evolucion .";
    max-width: 100vw;
  }

}