.top_Footer{
    background-color: #2B8255;
}
.logfot{
    height: 70px;
}
.row_Foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col_Foot{
}

@media only screen and (max-width: 768px) {
    .row_Foot{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media only screen and (max-width: 320px) {

    .row_Foot{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}